.appHeader {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .name {
    $name-font-size: calc(10px + 2vmin);
    font-size: $name-font-size;
    line-height: $name-font-size;
  }
}

.appSection {
  width: 50%;
  margin: 0 auto;
}

.appLink {
  color: #61dafb;
}
