.appHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;
  text-align: center;

  .name {
    $name-font-size: 2.0em;

    font-size: $name-font-size;
    line-height: $name-font-size;
  }

  .batches {
    $batches-font-size: 1.5em;

    font-size: $batches-font-size;
    line-height: $batches-font-size;
  }

  .job {
    text-align: left;

    ul {
      padding-left: 0;
      list-style: none;
    }
  }
}

.appSection {
  width: 50%;
  margin: 0 auto;
}

.appLink {
  color: #61dafb;
}
